body {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	margin: 0;
	flex-wrap: wrap-reverse;
}

canvas {
	box-sizing: border-box;
	border: 1px solid black;
	background-color: #eee;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	gap: 20px;
	padding: 20px;
	margin: 20px;
}

.slider {
	width: 12rem;
}

.data-item {
	width: 14rem;
}

.info {
	width: 100%;
	height: 1.3rem;
	background-color: #cfcfcf;
	border-radius: 2px;
	font-size: 1.3rem;
}

#numOfSamplesValue {
	padding: 0 0.3rem;
}

footer {
	font-family: monospace;
	font-size: 1rem;
	background-color: #ddd;
	padding: 0.4rem 1rem;
	border-radius: 20px;
	border: 4px dotted black;
}
